*
	margin: 0px;
	padding: 0px;
body 
	font-family: 'Oswald', sans-serif
header
	background: url('../IMG/headerbg.jpg')
	background-repeat: no-repeat
	background-size: cover
	background-attachment: fixed
	height: 745px
	nav
		width: 700px
		margin: 0px auto
		margin-top: 50px;
		padding-left: 30px
		ul
			list-style: none;
			li
				display: inline-block;
				margin-left: 25px;
				margin-right: 25px;
				a
					text-decoration: none
					text-transform: uppercase
					color: #fff
					font-family: 'Oswald', sans-serif
					font-size: 25px
				a:hover
					text-decoration: none
					color: #000
	h1, h3, h4
		font-family: 'Oswald', sans-serif		
		color: #fff
		text-align: center
	h1
		font-size: 45px
		letter-spacing: 10px
		margin-top: 200px
		text-transform: uppercase
	h3
		font-size: 25px
		letter-spacing: 3px
.recbutton
	text-decoration: none
	display: inline-block;
	cursor: pointer
	font-family: 'Oswald', sans-serif
	font-size: 15px;
	letter-spacing: 5px
	text-transform: uppercase
	padding: 15px 25px
	color: #fff
	background: #16a085
	border-radius: 5px
	margin-top: 50px
	border: 2px solid #16a085
	transition: all ease 0.3s
.recbutton:hover
	text-decoration: none
	color: #fff
.recbutton-inv:hover
	background: #fff
	color: #16a085
.sec-1
	height: 500px;
	background: url('../IMG/sec-1-bg.png')
	background-repeat: no-repeat
	background-size: cover
	h2 
		color: #16a085
		font-family: 'Oswald', sans-serif
		text-transform: uppercase
		font-size: 20px
		letter-spacing: 07px
		line-height: 40px
		margin-left: 50px
		margin-top: 50px
	p
		color: #373737
		font-size: 16px
		font-weight: 300
		letter-spacing: 1px
		line-height: 27px
		margin-left: 50px
	h4
		margin-left: 50px 
